<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>sepBay - your one stop shopping and selling platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScriptCDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- font awsome CDN -->
    <script src="https://use.fontawesome.com/fdad8c0f38.js"></script>

    <!-- main style -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div id="wrapper">
        <header class="top-nav body-max-width group-width">
            <nav class="navbar navbar-default navbar-static-top header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main=menu" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                        <a class="navbar-brand apply-nav-height" id="sepBay-logo" href="#">sepBay</a>
                    </div>

                    <div class="collapse navbar-collapse" id="main-menu">
                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for item or shop">
                            </div>
                            <button type="submit" class="btn btn-default">Search</button>
                        </form>
                        <ul class="nav navbar-nav account-nav apply-nav-height navbar-right">
                            <li><a href="#">Sell on sepBay</a></li>
                            <li><a href="#">Register</a></li>
                            <li><a href="#">Sign in</a></li>
                            <li class="cart" data-sub-nav="cart">
                                <a rel="nofollow" href="#" class="nav-link" title="eCart" aria-labelledby="gnav-account-cart-description">
                                    <!--<span class="nav-icon gnav-ss-icon gnav-ss-cart" aria-hidden="true"></span>-->
                                    <i class="fa fa-shopping-cart cart-icon" aria-hidden="true"></i>
                                    <span class="text-link">
                                        <span class="text-link-copy" id="account-cart-description">Cart</span>
                                    </span>
                                    <span class="count display-none" aria-hidden="true">0</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container-fluid -->
            </nav>

            <div id="cnav-header" class="sub-menu cnav-header group-width">
                <nav id="inner-nav" class="navbar navbar-default navbar-inverse sub-menu">
                    <ul id="catnav-menubar" class="catnav-primary-list nav">
                        <li class="active"><a href="#">Cateogry 1 <span class="sr-only">(current)</span></a></li>
                        <!-- use JSP to loop all the cateogry id? -->
                        <li><a href="#"><span class="">Category 2</span></a></li>
                        <li><a href="#"><span class="">Category 3</span></a></li>
                        <li><a href="#"><span class="">Category 4</span></a></li>
                        <li><a href="#"><span class="">Category 5</span></a></li>
                        <li><a href="#"><span class="">Category 6</span></a></li>
                    </ul>
                </nav>
            </div>
            <!-- category menu -->
        </header>
        <!-- /menu-container -->

        <section class="banner">
            <div class="jumbotron">
                <div class="container">
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Start Shopping!</a></p>
                    <p>This is a full width banner</p>
                </div>
            </div>
        </section>

        <section class="main-content group-width">
            <div id="sidebar">
                <h3>Categories</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li class="selected active">
                        <a href="">All</a>
                    </li>
                    <!-- {% for c in categories %} embbed JSP here for loop all the cateogry??? --> 
                    <li class="selected">

                        <a href="#">Category 1</a>  <!--can loop all the categories?-->

                        <!-- <a href="{{ c.get_absolute_url }}">{{ c.name }}</a> get the url link-->
                    </li>
                </ul>
            </div>
            
            <div id="main" class="product-list">
                <!--<h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>-->
                <h1>Products</h1>
                <!--{% for product in products %} JSP should embed here for loop all the product and image--> 
                <div class="item">
                    <!--<a href="{{ product.get_absolute_url }}">-->
                    <a href="#">
                        <img src="img/no_image.png"/>
                        <img src="img/no_image.png"/>
                    </a>
                    <!-- Use JSP to render product name and price <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br> ${{ product.price }}-->
                    <a href="#">product.name</a><br> <span>Price: $0.00</span>
                </div>
            </div>
        </section>


        <footer>

        </footer>
    </div>
    <!-- /wrapper -->
</body>

</html>
