html, body {
      height: 100%;
 	background-repeat: no-repeat;
 	background-color: #d3d3d3;
 	font-family: 'Oxygen', sans-serif;
    }
label {
    display: inline-block;
    max-width: 10%;
    margin-bottom:15px;
    font-weight: 900;
    color: #333;
    font-size: medium;
}

input {
     font-size: 11px;
    padding-top: 3px;
}
input-form  {
	    margin-bottom: 30px;

}
 button {
    margin-top: 10px;
    font: 11px system-ui;
    padding-right: 104px;


h1 {
	font-size: 50px;
	font-weight: 400; 
}
.container {
    padding: 26px;
    position: relative;
    background-color: #EDEDED;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 16px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow: 1px 0 #cfcfcf;
    position: relative;
    top: 230px;
}
